<h1>¡Hola cómo estás!</h1>
<div class="text-monospace container">
  <h2>
    Mi nombre es Carlos Díaz desarrollador independiente fullstack, en esta
    página podrás encontrar el resultado del desarrollo de una aplicación
    realizada en Angular la cual obtiene desde una API pública el listado de
    países del mundo, estos países poseen atributos o características como
    pueden ser la región, el/los idiomas oficiales, las monedas que utiliza
    entre otras. <br /><br />
    En este proyecto usamos Bootstrap para decorar algunos componentes, también
    Angular Material para la barra de búsqueda, y todo lo demás 😂 lo que
    normalmente se utiliza como son pipes, suscriciones a observables.
    <br /><br />
    Espero que el contenido de esta página sea de tu agrado 😁,
    también puedes ver el desarrollo de esta aplicación en el video que se
    encuentra abajo, también está mi perfil de GitHub con enlace del repositorio
    por si gustas descargarlo.
  </h2>
  <div class="text-center">
    <a href="https://github.com/carlosdizx/Paises-del-Mundo" target="_blank"
      ><img
        class="mr-5"
        height="64"
        src="assets/imagenes/logoGitHub.png"
        alt="GitHub"
    /></a>
    <a
      href="https://www.youtube.com/channel/UC2wC5MPh0h_XJOVkI-yo83g"
      target="_blank"
      ><img
        class="ml-5"
        height="64"
        src="assets/imagenes/logoYoutube.png"
        alt="Youtube"
    /></a>
  </div>
</div>
