<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container-fluid">
    <img
      class="img-fluid mr-5"
      src="assets/imagenes/logoArenaCenter.png"
      width="134"
      height="153"
    />
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <button class="nav-item" routerLink="/" type="button">
          <h4 class="nav-link">Inicio</h4>
        </button>
        <button class="nav-item" routerLink="/paises" type="button">
          <h4 class="nav-link">Listado de paises</h4>
        </button>
        <button class="nav-item dropdown" type="button">
          <h4
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Listado de paises por filtrados
          </h4>
          <ul
            class="dropdown-menu bg-dark text-white"
            aria-labelledby="navbarDropdown"
          >
            <li [routerLink]="['/paises/filtrado/regiones/', 1]">
              <a class="dropdown-item bg-dark active">Por Regiones</a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item bg-dark">xd</a></li>
          </ul>
        </button>
      </ul>
      <div align="right" class="col-sm-4">
        <app-buscador class="btn-block"></app-buscador>
      </div>
    </div>
  </div>
</nav>
